
.Search {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    margin-left: 270px;
    margin-top: -800px; 
    background-color: rgb(221, 226, 248);
    border-radius: 15px;
    width: 45vw;
  }
  
  .logo {
    display: inline;
    margin-right: 5px;
    margin-top: 4px;
    margin-left: 4px;
  }
  
  .Search input {
    background-color: rgb(221, 226, 248);
    padding: 8px; 
    width: 200px; 
    outline: none;
    border: none;

  }

  button{
    margin-left: 1250px;
    margin-top: -50px;
    display: flex;
    background-color: #8AAAE5;
    border-color: #8AAAE5;
    width: 130px;
    border-radius: 50px;
    padding: 4px;
  }
  
  .logo{
    display: inline; 
    margin-right: 5px; 
    margin-top: 0px;
    margin-top: 2px;
  }

  .name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    margin-top: 0px;
    margin-top: 3px;
  }

  button:hover{
    background-color: rgb(221, 226, 248);
    border-color: rgb(221, 226, 248);
  }
